/* *{
    background-color: rgb(31, 31, 36);
    color: white;
    text-align: center;
} */
h2{
    text-align: center;
    margin-top: 50px;
}

h4{
    color: rgb(12, 12, 206);
    margin-top: 30px;
}