 <nav class="navbar navbar-expand">
    <i class="fa-brands fa-github"></i>
    <a class="navbar-brand">Git Search</a>
    
    <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="main" routerLinkActive='active'>Main</a>
         <a class="nav-item nav-link" routerLink="/user-search" routerLinkActive='active'>Search User</a> -->
        <a class="nav-item nav-link" routerLink="/repository-search" routerLinkActive='active'>Search Repository</a>

    </div>
  
</nav> 
